@tailwind base;
@tailwind components;
#__next {
  min-height: 100%;
}
.grecaptcha-badge {
  visibility: hidden;
}
.promo-button-dialog-submission-button {
  @apply inline-flex w-full justify-center rounded-md border border-transparent bg-red-700 px-4 py-2 text-lg font-bold tracking-wide text-white antialiased shadow-sm hover:bg-gray-200 hover:text-black hover:text-black focus:outline-none focus:ring-2 focus:ring-red-700 focus:ring-offset-2 sm:text-base;
}

.promo-button-range-input {
  @apply block w-full rounded-md border-black bg-red-700 pl-16 text-black hover:border-transparent focus:outline-none focus:ring-2 focus:ring-red-700 focus:ring-offset-2 sm:pl-14 sm:text-sm;
}

#download-all-campaigns-button {
  @apply bg-red-700 text-white hover:bg-red-900;
}

#promo-dashboard-save-button {
  @apply bg-red-700 hover:bg-red-900;
}
#promo-dashboard-download-campaign-button {
  @apply bg-red-700 hover:bg-red-900;
}
#promo-dashboard-campaign-detail-back-button {
  @apply bg-red-700 hover:bg-red-900;
}
#promo-dashboard-save-button {
  @apply bg-red-700 hover:bg-red-900;
}
#promo-dashboard-line-chart {
  @apply bg-red-700 hover:bg-red-800;
}
#promo-dashboard-stats-highlights-icon-container {
  @apply bg-red-700;
}
#promo-dashboard-stats-highlights-icon {
  @apply text-red-50;
}

.promo-button-payment-type-input {
  @apply h-4 w-4 rounded border-gray-300 text-red-600 focus:ring-red-700;
}
.promo-button-text {
  @apply rounded-md dark:text-red-800;
}
.promo-button-target-link-input {
  @apply rounded-md focus:ring-2 focus:ring-red-800 dark:text-slate-800;
}
.promo-button-ad-title-input {
  @apply rounded-md focus:ring-2 focus:ring-red-800 dark:text-slate-800;
}
.promo-button-ad-copy-input {
  @apply rounded-md focus:ring-2 focus:ring-red-800 dark:text-slate-800;
}
.promo-button-call-to-action-input {
  @apply rounded-md focus:ring-2 focus:ring-red-800 dark:text-slate-800;
}
.promo-button-button-text-input {
  @apply rounded-md focus:ring-2 focus:ring-red-800 dark:text-slate-800;
}
#promo-dashboard-loading-spinner {
  @apply mr-2 h-8 w-8 animate-spin fill-red-700 text-gray-200 dark:text-gray-600;
}
.promo-button-budget-max-error {
  @apply mb-2 text-sm font-medium italic text-red-700;
}
.promo-button-budget-max-error {
  @apply mb-2 text-sm font-medium italic text-red-700;
}

#promo-chat-button-not-clicked {
  @apply fixed bottom-10 right-10 z-[90] flex h-16 w-16 animate-wave items-center justify-center rounded-full bg-red-900 text-2xl text-slate-50 shadow-lg transition duration-300 ease-in-out hover:scale-105 hover:bg-red-800 hover:shadow-xl dark:bg-red-100 dark:text-red-900 hover:dark:bg-red-200;
}

.grecaptcha-badge {
  visibility: hidden;
}
@tailwind utilities;
